---
---
ul:not(.footer-list) {
    list-style-image: url('{{ site.url_top }}/images/marker.png');
}

#contents-top {
    a {
        font-family: Helvetica Arial;
        font-weight: bold;
        letter-spacing: 0.1em;
    }
}
