<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href='https://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ site.url_top_sr }}/css/default.css" />
    {% if page.css %}
    <link rel="stylesheet" href="{{ site.url_top_sr }}/css/{{ page.css }}" />
    {% endif %}
    <title>SimpleRotate{% if page.title %} - {{ page.title }}{% endif %}</title>
    <link rel="shortcut icon" href="/images/favicon.png" />
</head>
<body>

<div id="wrapper">
    <a id="site-title" href="{{ site.url_top_sr }}/">
        <h1 id="simplerotate">SimpleRotate</h1>
    </a>

    {% if page.place == "top" %}
        {% include sr/inner_top.html %}
    {% else %}
        {% include sr/inner_page.html %}
    {% endif %}

    {% include sr/footer.html %}
</div>

{% if page.upper %}
<svg width="50" height="40" id="upper" xmlns="http://www.w3.org/2000/svg">
    <path d="M25 0 L0 40 L50 40 Z" fill="royalblue" />
</svg>

<script type="text/javascript">
    document.getElementById("upper").onclick = function() {
        window.scroll(0, 0);
    }
</script>
{% endif %}

{% include sr/analytics.html %}

</body>
</html>
