<div id="adjuster">
</div>

<div id="footer">
    <ul class="footer-list">
        <li>Latest version</li>
        <li>&nbsp;- 1.1.1</li>
    </ul>

    <ul class="footer-list">
        <li class="dark">Compliant ruby versions and platform</li>
        <li>&nbsp;- Linux(will be work on Mac OS but didn't check)</li>
        <li>&nbsp;- ruby- 2.0.0, 2.1.8, 2.2.4, 2.3.0</li>
    </ul>

    <ul class="footer-list">
        <li>View source code</li>
        <li><a class="footer-link" href="{{ site.url_github }}" target="_blank">&nbsp;- GitHub</a></li>
        <li><a class="footer-link" href="{{ site.url_rubygems }}" target="_blank">&nbsp;- RubyGems.org</a></li>
    </ul>

    <ul class="footer-list">
        <li><a class="footer-link" href="{{ site.url_license }}" target="_blank">MIT License</a></li>
        <li><a class="footer-link" href="{{ site.url_github_author }}" target="_blank">Contact develoer</a></li>
    </ul>
</div>
