<table class="CodeRay"><tr>
  <caption>Usage example</caption>
  <td class="line-numbers"><pre><a href="#n1" name="n1">1</a>
<a href="#n2" name="n2">2</a>
<a href="#n3" name="n3">3</a>
<a href="#n4" name="n4">4</a>
<a href="#n5" name="n5">5</a>
<a href="#n6" name="n6">6</a>
<a href="#n7" name="n7">7</a>
<a href="#n8" name="n8">8</a>
<a href="#n9" name="n9">9</a>
<strong><a href="#n10" name="n10">10</a></strong>
<a href="#n11" name="n11">11</a>
<a href="#n12" name="n12">12</a>
<a href="#n13" name="n13">13</a>
<a href="#n14" name="n14">14</a>
<a href="#n15" name="n15">15</a>
<a href="#n16" name="n16">16</a>
<a href="#n17" name="n17">17</a>
</pre></td>
  <td class="code"><pre>log = <span style="color:#036;font-weight:bold">SimpleRotate</span>.instance

<span style="color:#777"># initialize - set as your preference</span>
log.init(<span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">&quot;</span><span style="color:#D20">/var/log/ruby/app/foo.log</span><span style="color:#710">&quot;</span></span>, <span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">&quot;</span><span style="color:#D20">100M</span><span style="color:#710">&quot;</span></span>, <span style="color:#00D">4</span>)

<span style="color:#777"># to enable file compression</span>
log.compress

<span style="color:#777"># write logs</span>
log.warn.w(<span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">&quot;</span><span style="color:#D20">Warning message</span><span style="color:#710">&quot;</span></span>)
log.w(<span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">&quot;</span><span style="color:#D20">This is warning too</span><span style="color:#710">&quot;</span></span>)

<span style="color:#080;font-weight:bold">def</span> <span style="color:#06B;font-weight:bold">caught_fatal</span>()
    <span style="color:#777"># You can take over preference</span>
    <span style="color:#777"># because SimpleRotate is singleton pattern</span>
    <span style="color:#036;font-weight:bold">SimpleRotate</span>.instance.fatal.w(<span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">&quot;</span><span style="color:#D20">Fatal message</span><span style="color:#710">&quot;</span></span>)
<span style="color:#080;font-weight:bold">end</span>
</pre></td>
</tr></table>
