---
# front matter
---

@charset "utf-8";

@import "syntax-highlighting";

$footer-color: royalblue;
$appeal-color: royalblue;
$footer-link-color: #6495ed;

html {
    margin: 0em;
    height: 100%;
}

body {
    margin: 0em;
    height: 100%;
    font-family: Arial;
}

h2 {
    color: #333333;
    border-left: solid 0.4em royalblue;
    text-indent: 0.6em;
    font-family: Helvetica, Arial;
    letter-spacing: 0.1em;
    text-shadow: 3px 4px 1px lightgray;
}

#wrapper {
    position: relative;
    min-height: 100%;
}

#site-title {
    display: block;
    padding: 1.2em 0em 1em 2em;
}

h1#simplerotate {
    margin: 0em;
    margin: 0em;
    font-size: 1.6em;
    letter-spacing: 0.2em;
    font-family: 'Audiowide', Arial;
    background-image: url('{{ site.url_top }}/images/logo.png');
    background-size: 1.4em;
    background-repeat: no-repeat;
    background-position: right;
    width: 12em;
}

#appeal-header {
    width: 100%;
    background-image: url('{{ site.url_top }}/images/stars.jpg');
    background-repeat: repeat;
}

#appeal-content {
    padding: 1.4em 0em 1.4em 2em;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    letter-spacing: 0.1em;
    > p {
        padding: 0em;
        margin: 0em;
    }
}

#inner {
    padding-left: 1em;
}

#contents {
    margin-left: 2em;
    width: 74em;
}

#contents-top {
    margin-left: 2em;
    width: 20em;
    float: left;
}

#breadcrumbs {
    padding: 0.2em 0em;
}

a {
    text-decoration: none;
}

#inner {
    a:link {
        color: #333333;
    }
    a:visited {
        color: #333333;
    }
    a:hover {
        color: $appeal-color;
        border-bottom: solid 0.1em $appeal-color;
    }
}

a:link#site-title {
    color: black;
}
a:visited#site-title {
    color: black;
}
a:hover#site-title {
    color: blue;
}

a:link.footer-link {
    color: $footer-link-color;
}
a:visited.footer-link {
    color: $footer-link-color;
}
a:hover.footer-link {
    color: lightblue;
}

a.btn-link {
    padding: 0.8em 0;
    margin: 0.8em 0em;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    text-shadow: 0px 0px 5px navy;
    display: block;
    color: white !important;
    border: solid 1px lightblue;
    box-sizing: border-box;
    font-family: Arial !important;
    letter-spacing: 0.2em;

    border-radius: 0.6em;
    -moz-border-radius: 0.6em;
    -webkit-border-radius: 0.6em;
    -moz-box-shadow: 1px 1px 5px gray;
    -webkit-box-shadow: 1px 1px 5px gray;

    background: -moz-linear-gradient(top, #C5E5FF, #4164FF 50%, #2C53FD 50%, royalblue);
    background: -webkit-linear-gradient(top, #C5E5FF, #4164FF 50%, #2C53FD 50%, royalblue);
    background: linear-gradient(to bottom, #C5E5FF, #4164FF 50%, #2C53FD 50%, royalblue);
}
a.btn-link:hover {
    opacity: 0.9;
}

#sample-window {
    margin-top: 2em;
}

.CodeRay {
    padding: 1em;
    width: 38em;
    background-color: #eef;
}

.CodeRay > caption {
    text-align: left;
    font-family: 'Audiowide', Arial;
}

#adjuster {
    padding-bottom: 7em;
    clear: both;
}

#footer {
    position: absolute;
    bottom: 0%;
    height: 6.5em;
    width: 100%;
    color: $footer-color;
    background-color: navy;
    font-size: 0.9em;
    opacity: 0.9;
}

ul.footer-list {
    display: inline-block;
    list-style-type: none;
    padding: 0em;
    margin: 1.2em 0em 0em 3em;
    vertical-align: top;
}

ul.footer-list:first-of-type {
    margin-left: 4em;
}

ul.footer-list li {
    padding-top: 0.2em;
}

#features + ul > li {
    padding-bottom: 0.5em;
    font-family: Helvetica;
}
